# Archivos de IntelliJ IDEA
.idea/
*.iml

# Archivos generados por el sistema operativo
.DS_Store
Thumbs.db
desktop.ini

# Dependencias de Maven o Gradle
target/
.gradle/
build/

# Archivos de compilación
*.class
*.jar

# Configuración local del entorno
*.env
*.log
*.properties

# Copias locales del plugin
/plugins/
*.yml~

# Archivos de configuración de prueba
test-output/
*.tmp